@using Eshopy.Models
@model EshopyItemModels
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="padded">
    <div class="panel-body my-div">
        <h2>Details</h2>
        <h2>Store Item: @Model.Name</h2>
        <div class="col-md-6">
            <div class="form-group"><label for="Type">Store Type: @Model.EshopyType.Name</label></div>
            <div class="form-group"><label for="Description">Item Description: @Model.description</label></div>
            <div class="form-group"><label for="Description">Item Price: $@Model.Price</label></div>
        </div>
        <div class="col-md-6"><div class="form-group"><img class="menu-image" alt="@Model.Name" /></div></div>
        <div class="form-group"><a class="btn btn-default" href="@Url.Action("Browse", new { EshopyType = Model.EshopyType.Name})">Back</a></div>
    </div>
</div>
